{% extends 'miyadaiku.themes.base!page_article.html' %}

{% block head %}
  {{ super() }}

  <!-- include jquery.js -->
  {{ jquery.load_js(page) }}

  <!-- include fullPage.js -->
  {{ fullpagejs.load(page) }}

  <link rel="stylesheet" href="{{ page.path_to('/main.css') }}">

  <script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
      menu: '#menu'
    });
  });
  </script>

  {{ macros.opengraph(page) }}
{% endblock head %}

{% block body %}
  {% set sections = contents.get_contents(filters={'type':['snippet']}) %}
  <div id='menu'>
    {% for s in sections|sort(attribute='order') %}
      <a data-menuanchor="{{loop.index}}" href="#{{loop.index}}" data-anchor="{{loop.index}}">{{ s.title }}</a>
    {% endfor %}
  </div>

  <div id="fullpage">
    {% for s in sections|sort(attribute='order') %}
      <div class="section" data-anchor="{{loop.index}}" style="background-color:{{ s.background_color }}">{{ s.html }}</div>
    {% endfor %}
  </div>

{% endblock body %}

