[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
miyadaiku-themes-bootstrap4 = "*"
miyadaiku-themes-fontawesome = "*"
miyadaiku-themes-fullpagejs = "*"

[requires]
python_version = "3.7"
