[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
miyadaiku_theme_bootstrap4 = "*"
miyadaiku_theme_fontawesome = "*"

[requires]
python_version = "3.7"
