#menu {
  background-color: black;
  display: flex;
  position:absolute;
  right:50px;
  top:50px;
  z-index:1000;
}

#menu a {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0.2rem 0.5rem;
}

#menu .active {
  color: black;
  background-color: white;
}
