body {
  padding-top: 4rem;
}

footer {
  text-align: right;
  margin: 1rem;
}

h1 {
  margin-bottom: .5em;
}

li p {
  margin-bottom: 0.5rem;
}

dt {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-indent: -1rem;
  padding-left: 1rem;}

dt:before {
    content: "\025B8";
    margin-right: 0.5rem;
}

dd {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  margin-left: 1.5rem;
}


.nav-item {
  cursor: pointer;
}

.code-block {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.code-block pre {
  padding: 0.7em;
  background: #202020;
  color: #d0d0d0;
  margin-bottom: 0rem;
}

.code-block-caption {
  margin-left: 0.0rem;
  padding: 0.2rem 0.5rem;
  background-color: lightgray;
  font-size: 0.9rem;
}

.article-body {
  padding-top: 10px;
}

.article-content h1 {
  font-size: 1.8rem;
  padding: .3rem 0rem;
  margin-top: 1.5em;
  margin-bottom: .5em;
  border-bottom: solid #366D9C;
}

.article-content h2 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.article-content h3 {
  font-size: 1.3rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.article-content h3, .article-content h4, .article-content h5, .article-content h6 {
  font-size: 1.1rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
}


.toc {
  padding: 0;
  z-index: 999;
  color: gray;
}

.toc .article-block {
  margin-bottom: 0.4rem;
}

.toc .article-title {
  font-weight: bold;
}

.toc ul {
  padding-left: 1.5rem;
  margin: 0rem 0 0.2rem 0;
  font-size:1rem;
} 

.toc li {
  list-style-type: none;
  margin-bottom:0.2rem;
}


.toc .fa {
  color: #e5e5e5;
}

.toc .current .fa {
  color: gray;
}

.toc a {
  color: #292B2C;
}

.header_h1 {
  font-weight: normal;
  margin-left:0.5rem;
}

.header_h1 a {
  color: #292B2C;
  font-size: 0.9rem;
}

.header_h2 {
  margin-left: 1.5rem;
  font-size: 0.8rem;
}

.header_h2 a, .header_h3 a, .header_h4 a, .header_h5 a, .header_h6 a {
  color: #a5a5a5;
}

.header_h3 {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.header_h4,.header_h5, .header_h6 {
  margin-left:2.5rem;
  font-size: 0.8rem;
}

.literal {
  font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
  border: 1px solid #E8E8E8;
  padding: .1rem .4rem;
  border-radius: .2rem;

  background: #F9F9F9;
  color: #C25;
  font-size: .9rem;
  padding: 2px 3px 1px;
}

.literal-block {
  margin-bottom: 2rem;
}

/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */

.header_target, .md_header_anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;  
}

.samples {
  display: flex;
  flex-wrap: wrap;
}

.samplebox {
  padding: 10px;
}

.samplebox img {
  width: 200px;
  height: 135px;
  border: solid 1px;
}